/* Add your own CSS under here */
.card.bg-light>a{
    text-decoration: none;
    color: #6c757d;
}

.card.bg-light>a:hover{
    background-color : #6c757d !important;
    color: #f8f9fa !important;
    border-radius : 0.25rem !important;
}